[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
torch = "==2.0.0"
pandas = "==2.0.2"
scikit-learn = "==1.2.2"
scipy = "==1.10.1"
tqdm = "*"
sentence-transformers = "*"
human-body-prior = "*"

[dev-packages]
build = "*"

[requires]
python_version = "3.9"
